.attempt-matrix-input {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 20px 0;
    width: 11vw;
 
    align-items: center;
    justify-content: space-between;
}

.opening-bracket {
    font-size: 4rem;
    align-self:
}

.closing-bracket {
    font-size: 4rem;
}

.update-buttons {
    margin: 20px 0;
}

.matrix-values {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 10px 0 0 0;

    justify-self: center;
}